.cardDiv {
    .nameDiv {
        // display: none;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        bottom: -64px;
        z-index: -5;
    }

  &:hover {
    .nameDiv {
    //   display: block;
      bottom: 0px;
      z-index: 10;
    }
  }
}

.cardShadow {
  box-shadow: #e2ebf039 0px 2px 8px 0px;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

#bookscard {
  width: 260px;
  height: auto;
}